<!--  Launch file for signle robot on Gazebo -->
<launch>
<env name="GAZEBO_RESOURCE_PATH" value="$(find avp_gazebo)/launch/includes/meshes"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="use_sim_time" value="true"/>
<arg name="debug" value="false"/>
<arg name="world_name" value="$(find avp_gazebo)/launch/includes/worlds/under_ground.world"/>
</include>

<group ns="/robot_1">
<include file="$(find avp_gazebo)/launch/includes/robot.launch.xml">
<arg name="robot_name" value="robot_1"/>
<arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.0"/>
</include>

<include file="$(find avp_gazebo)/launch/includes/move_baseSafe_vlp.launch">
<arg name="namespace" value="robot_1"/>
</include> 
</group>



<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /robot_1/map /robot_1/odom 100" />
<node pkg="tf" type="static_transform_publisher" name="map_odom_robot_map" args="0 0 0 0 0 0 /map /robot_1/map 100" />




<node pkg="rviz" type="rviz" name="rviz" args="-d $(find avp_gazebo)/launch/includes/rviz_config/single.rviz">
<remap from="move_base_simple/goal" to="robot_1/move_base_simple/goal"/>
</node>

</launch>
